<div class="container-fluid">
  <div class="background-image">
    <div class="row" id="title">
      <div class="col-sm-12">
        <h1>Hormigas</h1>
      </div>
    </div>
    <div class="row" id="par">
      <div class="col-sm-12">
        <p>Somos un grupo estudiantil del Tecnológico de Monterrey, Campus Estado de México con el objetivo de ayudar a comunidades en desastres naturales en el interior de la República.<br>¡Conoce más de nosotros!</p>
      </div>
    </div>
    <a href="nosotros.html"><p>Bienvenido</p></a>
  </div>
</div>
