<div class="background-image"></div>
<div class="container-fluid">
  <h4 id="obj">Objetivo</h4>
  <p class="usp">Este grupo estudiantil se enfoca en dar apoyo a comunidades de bajos recursos y/o que han sufrido alguna catástrofe que afecte su bienestar y/o que estén siendo afectadas por un desastre natural a través de colecta de víveres y apoyo social. Trabajamos junto con otras organizaciones y grupos estudiantiles dando apoyo en las recaudaciones de fondos y desarrollo de actividades con el propósito de ayudar a los más necesitados para que puedan tener una vida digna.</p>
  <h4 id="vis">Visión</h4>
  <p class="usp">Ser un grupo estudiantil reconocido en la sociedad por su iniciativa y participación en el desarrollo de actividades que ayuden a la gente que más lo necesite y a los damnificados por los desastres naturales.</p>
</div>
