body
  margin: 0

  .container-fluid
    padding: 0
    margin: 0

    .background-image
      position: absolute
      width: 100vw
      height: 100vh
      background:
        image: url('/assets/img/sanMiguel.jpg')
        position: center
        size: cover
        repeat: no-repeat

      .black
        position: absolute
        width: 100vw
        height: 100vh
        background-color: white
        opacity: 0.3
        z-index: 7
